#topBar {
    z-index: 1000;
    position: sticky;
    top: 0px;

    margin: 0px;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;

    
    background-color: black;
    padding: 20px;
    /* border-radius: 5px; */
    border-color: blue;

}
.mainContent {
    position: relative;
    margin: 0px;
    margin-top: 20px;

    padding-bottom: 100%;
    text-align: center;
    background-color: grey;
    border-radius: 5px;

}
body {
    background-color: grey;
}
.title {
    text-align: center;
    font-size: 30px;
    color: white;
    
}