.bottom {
    text-align: left;
    font-size: large;
    align-items: left;
    margin-top: 20px;
    margin-left: 20px;
}
br::selection {
    text-decoration: underline;
}

.image {
    position: relative;
    float: right;
    width: 30%;
    border-radius: 10px;
    margin-right: 10%;
    border-color: grey;
    border-style: solid;

    border-width: medium;
}
.image::selection {
    text-decoration: underline;
}
