li {
    margin-right: 5%;
    margin-top:-27px;
    color: white;
    background-color: black;
    float: left;
    text-align: center;
    padding: 10px;

}
li:hover {
    cursor: default;
    background-color: grey;
}
ul {
    list-style-type: none;
}

