li {
    margin-right: 5%;
    margin-top:-27px;
    color: white;
    background-color: black;
    float: left;
    text-align: center;
    padding: 10px;
}
li:hover {
    cursor: pointer;
    color: grey;
}
li::selection {
    color: white;
}
ul {
    list-style-type: none;
}

#topBar {
    z-index: 1000;
    position: sticky;
    top: 0px;

    margin: 0px;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;

    
    background-color: black;
    padding: 20px;
    /* border-radius: 5px; */
    border-color: blue;

}
